<h1>Listing user3s</h1>

<table>
  <tr>
    <th>name</th>
    <th>Point</th>
    <th>email</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @user3s.each do |user3| %>
  <tr>
    <td><%= user3.name %></td>
    <td><%= user3.point %></td>
    <td><%= user3.email %></td>
    <td><%= link_to 'Show', user3 %></td>
    <td><%= link_to 'Edit', edit_user3_path(user3) %></td>
    <td><%= link_to 'Destroy', user3, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New User3', new_user3_path %>
