<p id="notice"><%= notice %></p>

<p>
  <b>name:</b>
  <%= @user3.name %>
</p>

<p>
  <b>Point:</b>
  <%= @user3.point %>
</p>

<p>
  <b>email:</b>
  <%= @user3.email %>
</p>


<%= link_to 'Edit', edit_user3_path(@user3) %> |
<%= link_to 'Back', user3s_path %>
