<h1>Listing user_send_mails</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Email</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @user_send_mails.each do |user_send_mail| %>
  <tr>
    <td><%= user_send_mail.name %></td>
    <td><%= user_send_mail.email %></td>
    <td><%= link_to 'Show', user_send_mail %></td>
    <td><%= link_to 'Edit', edit_user_send_mail_path(user_send_mail) %></td>
    <td><%= link_to 'Destroy', user_send_mail, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New User send mail', new_user_send_mail_path %>
